<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}{{ mixture.project_name }} &middot; {{ mixture.project_description }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "style.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-152x152.png" />
        <meta name="msapplication-square70x70logo" content="smalltile.png" />
        <meta name="msapplication-square150x150logo" content="mediumtile.png" />
        <meta name="msapplication-wide310x150logo" content="widetile.png" />
        <meta name="msapplication-square310x310logo" content="largetile.png" />

        {% block styles %}{% endblock %}

        <style>
            
        </style>

    </head>
    <body>
    
            {% include "header" %}
            
            <div class="row masonry">

                {% collection "article" %}

                          {% for post in collection.items by 2 %}
                            <div class="columns large-6 grid-item"
                             style="background-image: url(
                                /assets/img/article-banners/{{ post.slug | remove:'/article/' }}.jpg
                             );">

                                <a href="{{ post.slug }}">
                                    <h3>{{ post.title }} &mdash; {{ post.author-name }}</h3>
                                </a>
                            </div>
                          {% endfor %}

                {% endcollection %}

            </div>

            {% block content %}{% endblock %}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "app.js" | asset_url | script_tag }}
    </body>
</html>